@model NiShuoNiMuaNe.Models.Cai

@{
    ViewData["Title"] = "Details";
}

<h1>请填写自己的详细信息哦(MADE BY XJL)</h1>
<h4>例如</h4>
<a href="https://www.baidu.com/s?wd=%E6%9D%8E%E5%8D%9A%E4%BF%AE%E6%98%AF%E4%BB%80%E4%B9%88&rsv_spt=1&rsv_iqid=0xde0f88390006d278&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&rqlang=cn&tn=baiduhome_pg&rsv_enter=1&rsv_dl=tb&oq=dreamweaver%2520%2526lt%253BS6%25E5%25A6%2582%25E4%25BD%2595%25E6%2589%2593%25E5%25BC%2580cshtml&inputT=8802&rsv_t=0ec5amSwMU7Ozb8UFX8gxdTRXFJ3pgduAQAD%2FZ7WHrEjgcqe5S1K%2Bn5dszVQy3%2FP503Q&rsv_pq=bc0a0df0000afce8&rsv_sug3=164&rsv_sug1=78&rsv_sug7=100&rsv_sug2=0&rsv_sug4=8802">
	李博修是什么
</a>
<img src="/1.png"></img>
<div>
    <h4>Cai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaoZhiQi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaoZhiQi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
